/*Font Family*/

@font-face {
    font-family: 'Proxima Nova';
    src: url("Proxima/ProximaNova-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("Proxima/Proxima-Nova-Sbold.ttf");
    font-weight: 500;
}


/*End Family*/


/*Start Iconmoon*/

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?ids2zd');
    src: url('fonts/icomoon.eot?ids2zd#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?ids2zd') format('truetype'), url('fonts/icomoon.woff?ids2zd') format('woff'), url('fonts/icomoon.svg?ids2zd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark:before {
    content: "\e901";
}

.icon-cheveron-right:before {
    content: "\e900";
    color: #139CFF;
    margin: 0 11px;
    font-size: 14px;
    line-height: 14px;
}

.icon-close:before {
    content: "\e902";
    cursor: pointer;
}


/*End Iconmoon*/


/*Start Global*/

body {
    font-family: 'Proxima Nova';
    background: #F6F7FB;
}

.card {
    padding: 20px 18px;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.input {
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    margin-top: 6px;
    outline: none;
    letter-spacing: 0.02em;
    padding: 8.5px 10px;
    color: #4A5660;
    font: 400 14px/17px 'Proxima Nova';
}

.label {
    font: 400 15px/17px 'Proxima Nova';
    letter-spacing: 0.02em;
    color: #4A5660;
}

.title {
    font: 500 20px/20px 'Proxima Nova';
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
    color: #4A5660;
    margin: 0px 0 25px 0;
}

.col3 {
    grid-column: 1/3;
}

.col2 {
    grid-column: 1/2;
}


/*End Global*/


/*Satrt Container*/

.group {
    max-width: 973px;
    width: 100%;
    margin: auto;
}


/*End Container*/


/*Start BreadCrumb*/

.links {
    margin-bottom: 39px;
}

.links .link {
    font: 400 15px/17px 'Proxima Nova';
    letter-spacing: 0.02em;
    color: #81878E;
    text-decoration: none;
}

.links .activeLink {
    color: #139CFF;
}


/*End BreadCrumb*/


/*Start Header*/

.top {
    padding-bottom: 53px;
}

.header {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.header .head-title {
    margin: 0;
    font: 500 40px/ 40px 'Proxima Nova';
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #4A5660;
}

.header .btn-save {
    display: inline-block;
    background: #139CFF;
    border-radius: 5px;
    border: none;
    font: 400 15px/ 15px 'Proxima Nova';
    //align-items: center;
    //text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 10px 20px;
    align-self: center;
    cursor: pointer;
}


/*End Header*/


/*Start Customer*/

.block {
    display: grid;
    grid-template-columns: minmax(0, 61.3333%) minmax(0, 1fr);
    grid-gap: 23px;
}

.customer {
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: start;
}

.customerBody {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px 19px;
}

.customer .title {
    margin-bottom: 25px;
}

.customerBody input[type="checkbox"] {
    display: none;
}

.customerBody .label {
    position: relative;
    cursor: pointer;
}

.customerBody .check .label::before {
    content: "";
    width: 15.5px;
    height: 15.5px;
    display: inline-block;
    position: relative;
    top: 3px;
    border: 1.3px solid #DCDCDC;
    border-radius: 4px;
    margin-right: 10px;
}

.customerBody input[type="checkbox"]:checked+.label::after {
    font-family: "icomoon" !important;
    content: "\e901";
    color: #fff;
    position: absolute;
    left: 4px;
    top: 3px;
    font: 400 10px/10px 'Proxima Nova';
}

.customerBody .check input[type="checkbox"]:checked+.label::before {
    background: #139CFF;
    border: 1.3px solid #139CFF;
}


/*End Customer*/


/*Star Note*/

.note {
    grid-column: 2/3;
    grid-row: 1/ 2;
    align-self: start;
    padding: 20px 14px
}

.noteBody .input {
    margin-top: 0
}

.noteBody .input::placeholder {
    font: 400 14px/17px 'Proxima Nova';
    letter-spacing: 0.02em;
    color: #B4B9BE;
}


/*End Note*/


/*Start Tags*/

.tags {
    grid-column: 2/3;
    grid-row: 2/ span 3;
    align-self: start;
}

.tagsBody .input {
    margin: 6px 0 0 0;
}

.tagsBody .input::placeholder {
    font: 400 14px/17px 'Proxima Nova';
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #C4C4C4;
}

.tags .allTags {
    margin-top: 15px;
}

.tags .allTags .groupTags {
    margin-bottom: -8px;
}

.tags .allTags .groupTags:after {
    content: "";
    display: block;
    clear: both;
}

.tags .tag {
    background: rgba(#139CFF, 0.2);
    border-radius: 4px;
    color: #139CFF;
    font: 400 15px/18px 'Proxima Nova';
    letter-spacing: 0.02em;
    padding: 6px 8px 6px 6px;
    vertical-align: sub;
    float: left;
    margin: 0 8px 8px 0;
}

.tags .tag .myIcon {
    font: 400 10px/10px 'Proxima Nova';
    margin-left: 5px;
}


/*End Tags*/


/*Start Address*/

.address {
    grid-column: 1/2;
    grid-row: 3/4;
}

.addressBody {
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px 19px;
}

.address .title {
    margin-bottom: 9px;
}

.address .input {
    font: 400 14px/14px "Proxima Nova";
    letter-spacing: 0.03em;
    color: #4A5660;
}


/*End Address*/


/*@media (max-width: 499px),
(min-width: 500px),
(min-width: 576px) {
    .customer {
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .note {
        grid-column: 1/3;
        grid-row: 2/3;
    }
    .tags {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .address {
        grid-column: 1/3;
        grid-row: 4/5;
    }
}

@media (min-width: 992px) {
    .customer {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .note {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .tags {
        grid-column: 2/3;
        grid-row: 2/ sapn 3;
        align-self: start;
    }
    .address {
        grid-column: 1/2;
        grid-row: 3/4;
    }
} */